{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add Status</title>
</head>
<body>
    <div class="container column-style" id="add-status">
        <h1>Halo, apa kabar?</h1>
        <div class="container column-style form-style">
            <form action="" class="form-container" name="add-status-form" method="POST">
                {% csrf_token %}
                <div class="container column-style form-style">
                    <span class="title" id="judul1">Input status kamu</span>
                    {{ form.title }}
                    <input type="submit" id='submit' class="btn" value="Submit">
                </div>
            </form>
        </div>
        <div class="container column-style" id="list-items">
            <div class="container max-width">
                <span class="title">Daftar Status Kamu</span>
            </div>
            {% for item in list_status %}
                <div class="container column-style items">
                    <span class="subtitle">{{ item.title }}</span>
                    <span class="body-txt">{{ item.date_and_time }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>