{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Hello!!</title>
</head>
<body>
    <div class="big-box">
        <div class="container column-style" id="story9-home">
            <span class="title story9-items">Hello {{ user.username }}!</span>
            <span class="subtitle story9-items">
                Selamat datang di fitur login yang kamu buat sendiri.
                Senang ya akhirnya fitur login kamu berhasil. Semangat terus
                menjalani kehidupan ini. Semoga IP semester 3 ini bisa tembus 4.00.
            </span>
            <form action="{% url 'story9:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">
                    Logout
                </button>

            </form>
        </div>
    </div>
</body>
</html>