{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="bigbox">
        <div class="container column-style" id="story9-login">
            <span class="title story9-items" >Silakan Login</span>
            <form action="{% url 'story9:login' %}" method="POST" id="login-form">
                {% csrf_token %}
                <div class="row-style story9-items">
                    <span class="subtitle">Username</span>
                    {{ form.username }}
                </div>
                <div class="row-style story9-items">
                    <span class="subtitle">Password</span>
                    {{ form.password }}
                </div>
                <div class="container">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>