{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/story7.js' %}"></script>
    <title>Story 7</title>
</head>
<body>
    <div class="container column-style" id="story7-home">
        <div class="container right">
            <button class="btn" onclick="gantiWarna()">Change Background</button>
        </div>
        <span class="title" id="judul">Hello people!</span>
        <div class="container row-style" id="profile">
            <div class="" id="about-left">
                <img src="{% static 'img/foto.png' %}" alt="profile image" id="profile-img">
            </div>
            <div class="container column-style" id= "about-right">
                <span class="subtitle">
                    My name is Christopher Yohanes Hasian Tamba and you can call me 
                    Christo.
                </span>
                <span class="subtitle">
                    I'm currently an 
                    <span class="bold-txt">Information System</span>
                    student at 
                    <span class="bold-txt">University of Indonesia</span>.
                </span>
                <span class="subtitle">
                    I love to study technology
                    and how it works to make a great impact in business.
                </span>
            </div>
        </div>
        <div class="container column-style left max" id="accordion">
            <span class="title acc-title">My Activities</span>
            <div class="container column-style left max acc-items">
                <span class="subtitle">- Learn, Study, and Exercise</span>
                <span class="subtitle">- Playing musical instruments</span>
                <span class="subtitle">- Watching Youtube</span>
            </div>
            <span class="title acc-title">My Experiences</span>
            <div class="container column-style left max acc-items">
                <span class="subtitle">- Staff of Business IT Competition, Compfest 11</span>
                <span class="subtitle">- Staff of Mentor and Student Division, BETIS 2019</span>
            </div>
            <span class="title acc-title">My Achievements</span>
            <div class="container column-style left max acc-items">
                <span class="subtitle">- Entering University of Indonesia</span>
                <span class="subtitle">- Best Graduate of SMAN 91 Jakarta (2018)</span>
            </div>        
        </div>
    </div>
</body>
</html>