{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Story 10</title>
</head>
<body>
    <div class="container column-style">
        <span class="title">Test Story 10</span>
        {{ port }}
    </div>
</body>
</html>