body{
    background-color:beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px;
    margin:0px;
}
.big-box{
    width:95%;
    min-height:90vh;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.column-style{
    flex-direction:column;
}
.row-style{
    flex-direction:row;
}
#add-status{
    width:100%;
}
.form-style{
    margin:15px 0px;
}
#judul1{
    margin-bottom:10px;
}
.title{
    font-size:35px;
}
.subtitle{
    font-size:24px;
}
.bold-txt{
    font-weight: 600;
}
.body-txt{
    font-size:13px;
}
.form-container{
    width:100%;
}
.form-body{
    width:60vw;
    height:20vh;
    margin-bottom: 10px;
}
.btn{
    font-size: 19px;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor:pointer;
}

.items{
    margin-top:15px;
    padding:4px;
    width:100%;
    align-items: flex-start;
    background-color:seashell ;
    border:1px solid;
    border-radius:5px;

}
.max-width{
    width:100%;
}
#list-items{
    width:90%;
    align-items:flex-start;
    margin-top:25px;
}
.left-column{
    align-items: flex-start;
}
#judul{
    font-size:50px;
    font-style: italic;
    margin-bottom: 10px;
}
#story7-home{
    padding:25px 0px;
    min-height:100vh;
    background-color:inherit;
}
#profile-img{
    width:70%;
    height:70%;
    margin-left:20px;
}
#profile{
    margin:20px 0px;
}
#about-left{
    width:40%;
}
#about-right{
    align-items: flex-start;
    width:60%;
    margin:10px;
    padding-right: 15px;
}
.right{
    width:90%;
    justify-content: flex-end;
}
.left{
    align-items: flex-start;
}
.max{
    width:90%;
}
.acc-items{
    padding-top:10px;
    padding:5px;
    margin-bottom:10px;
    margin-left:10px;
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
}
.acc-title{
    margin-top:15px;
    border:1px solid black;
    border-radius: 3px;
    padding:5px;
    background-color: cornsilk;
}
#story8-home{
    padding:20px;
}
#inputan-story8{
    margin:15px 0px;
}
#search{
    width:50vw;
    height:30px;
    border-radius:5px;
    padding-left:5px;
    margin-right:5px;
}
table {
    border-collapse: collapse;
    width: 95%;
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    vertical-align: middle;
}
ul{
    padding-inline-start: 20px;
}
.table-title{
    background-color:cornsilk ;
}
#story9-home{
    margin:70px 30px;
}
#story9-login{
    margin:90px 40px;
}
.story9-items{
    margin:10px;
}
#login-form{
    border:1px solid black;
    border-radius:5px;
    width:250px;
    height:300px;
    background-color: bisque;
}
#id_username{
    width:200px;
    height:20px;
    border-radius: 5px;
    padding:3px;
}
#id_password{
    width:200px;
    height:20px;
    border-radius: 5px;
    padding:3px;
}
@media screen and (max-width:768px){
    #profile{
        flex-direction: column;
    }
    #profile-img{
        width:100%;
        margin-left:0px;
    }
    .book-desc{
        display: none;
    }
    table {
        width: 80%;
    }
    .big-box{
        width:90%;
    }
}