{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Books</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/story8.js' %}"></script>
</head>
<body>
    <div class="big-box" id="story8-home">
        <div class="container column-style">
            <span class="title">
                <b>Search Your Favorite Books!</b>
            </span>
        </div>
        <div class="container row-style" id="inputan-story8">
            <input type="text" id="search" placeholder="Search books">
            <input type="submit" class="btn" id="btn-search" value="search">
        </div>
        <div class="container max-width" id="">
            <table id="results">
                <tr> 

                </tr>
            </table>
        </div>
    </div>
    
</body>
</html>