body{
    background-color:beige;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.column-style{
    flex-direction:column;
}
#add-status{
    width:100%;
}
.form-style{
    margin:15px 0px;
}
#judul1{
    margin-bottom:10px;
}
.title{
    font-size:35px;
}
.subtitle{
    font-size:24px;
}
.body-txt{
    font-size:13px;
}
.form-container{
    width:100%;
}
.form-body{
    width:60vw;
    height:20vh;
    margin-bottom: 10px;
}
.btn{
    font-size: 19px;
    border-radius: 5px;
    background-color: blanchedalmond;
}
.items{
    margin-top:15px;
    padding:4px;
    width:100%;
    align-items: flex-start;
    background-color:seashell ;
    border:1px solid;
    border-radius:5px;

}
.max-width{
    width:100%;
}
#list-items{
    width:90%;
    align-items:flex-start;
    margin-top:25px;
}
.left-column{
    align-items: flex-start;
}